html, body, #MedicFace {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#MedicFace .container-fluid {
  min-height:100%;
  position:relative;
  padding-right: 0;
  padding-left: 0;
}
#MedicFace .container-fluid > .row {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 35px;
}
#MedicFace .container-fluid > .row > .container-fluid > .row {
  padding-top: 58px;
}
#MedicFace .container-fluid > .row > .col-12 {
  padding-right: 0;
  padding-left: 0;
}
#MedicFace .card {
  margin: 1em auto 0 auto;
}
#MedicFace .navbar-dark.bg-blue {
  background-color: #3b5998;
}
#MedicFace footer {
  position:absolute;
  bottom:0;
  width:100%;
}