.profile-card .card-img-block {
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card .card-body {
    position:relative;
}
.profile-card .profile,
.profile-card svg.profile {
    border-radius: 50%;
    position: absolute;
    top: -85px;
    left: 50%;
    width: 100px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: -50px;
    height: 100px;
}
.profile-card .profile {
    font-weight: bold;
}
.profile-card .card-img-block{
    position:relative;
}
.profile-card .card-img-block > .info-box{
    position:absolute;
    background:rgba(217,11,225,0.6);
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:14px;
   -webkit-transition: 1s ease;
    transition: 1s ease;
    opacity:0;
}
.profile-card .card-img-block:hover > .info-box{
    opacity:1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.profile-card h5{
    font-weight:600;
    color:#3b5998;
}
.profile-card .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card .icon-block{
    float:left;
    width:100%;
}
.profile-card .icon-block a{
    text-decoration:none;
}
.profile-card i {
  display: inline-block;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #3b5998;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card svg.picture {
    width: 100px;
    height: 100px;
    text-align: center;
}
.profile-card i:hover {
  background-color:#3b5998;
  color:#fff;
}
.modal .list-group svg.card-img {
    width: auto;
}
.modal .list-group .contentName {
    padding-left: 0;
}
.modal .list-group .contentName .name,
.contacts-card .list-group .name {
    line-height: 3;
    padding: 0;
    margin: 0;
}
.modal .list-group .contentAction button {
    vertical-align: middle;
    margin: 0.7em 0;
}
.profile-card .card-text span.text-muted {
    margin-left: 5px;
}