.login-container{
    padding-top: 5%;
    padding-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form{
    margin: 0 auto;
    padding: 5% 10%;
    background:#3b5998;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.btnSubmit{
    font-weight: 600;
}
.btnSubmit > span {
    margin-right: 10px;
}
.btnRegister,
.btnBackToLogin{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnRegister:hover,
.btnBackToLogin:hover{
    text-decoration:none;
    color:#fff;
}
.backToLogin {
    color: #fff;
    margin-right: 2px;
}
.form-control-file {
    display: inline-block;
    width: 70%;
}